<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="Kairo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kairo">

        <activity
            android:name="kairo.android.app.KairoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="kairo.android.test.TestFragmentActivity"
            android:exported="false" />

    </application>

</manifest>
